/* tailwindcss */
@import "tailwindcss";


/* Scrollbar moderna y fina */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #111;
}
